* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.filter {
  text-align: center;
  margin-top: 20px;
}

.group {
  display: flex;
  flex-basis: auto;
  padding-bottom: 10px;
}

.post_list {
  width: 200px;
  height: 180px;
  border: 3px dotted teal;
  margin: 10px auto 0;
  overflow: auto;
}

li {
  font-size: 20px;
  padding: 5px 0;
  list-style: none;
}